<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">


    <bean id="registryHelper" class="rabbit.open.libra.client.RegistryHelper">
        <property name="rootPath" value="/megrez/loan"/>
        <property name="hosts" value="localhost:2181"/>
    </bean>

    <bean id="schedulerTask" class="rabbit.open.libra.client.task.SchedulerTask"></bean>

</beans>	


